@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Roboto:100);
@import url(http://fonts.googleapis.com/css?family=Roboto:200);

body {
  background: #85e0e0;
}

.clear {
  clear: both;
}

body {
  font-family: 'Roboto', arial;
  font-weight: 100;
}

header {
  position: relative;
  height: 250px;
  background: url("http://www.kellylougheed.com/images/backgrounds/temple.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #ccf2ff;
}

.titles {
  background: rgba(0, 0, 0, .6);
  padding: 10px;
  color: #66d9ff;
  position: absolute;
  bottom: 0;
  width: auto;
  font-family: 'Roboto', arial;
}

.title {
  font-size: 4em;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.orange {
  color: #ff6600;
  font-weight: 200;
}

.subtitle {
  font-size: 2em;
}

button {
  color: #ff6600;
  background: rgba(0, 0, 0, .6);
  border: 1px solid #ff6600;
  letter-spacing: 2px;
  margin: 5px;
}

button:hover {
  color: #000000;
  background: rgba(255, 255, 255, .6);
}

.hidden {
  display: none;
}

.links {
  float: right;
  margin-top: 10px;
}

a {
  background: rgba(0, 0, 0, .6);
  letter-spacing: 2px;
  color: #ccf2ff;
  padding: 8px;
  margin-right: 20px;
  border: 1px solid #ccf2ff;
}

a:hover {
  background: rgba(255, 255, 255, .6);
  text-decoration: none;
  color: #000000;
  border: 1px solid #red;
}

h1 {
  font-weight: 100;
  color: #0f3d3d;
}

h2 {
  font-weight: 100;
  color: #0f3d3d;
}

.another {
  background: #99e6e6;
  color: #000000;
  border: 1px solid #000000;
  font-size: 1.35em;
}

a.contact {
  background: none;
  border: none;
  color: grey;
  padding: 0px;
  margin: 0px;
}

a.contact:hover {
  color: #85e0e0;
}

@media (max-width: 767px) {
  .title {
    font-size: 3em;
  }
  .subtitle {
    font-size: 1.5em;
  }
  a {
    margin-right: 10px;
  }
}