<h1>How to Use This Site</h1>

<div class="about">
<p>Fact: Latin teachers often have four or more preps. It's possible that at times, we need to improvise in class or throw together a last-minute activity. If you ever find yourself at a loss for bell work or other activities, turn to So You Think You Know Latin!</p>

<h2>Activities</h2>

<ul><li> Bell Work/Do Now/Warm Up. Whatever you call it, it's generally recognized as good classroom management to start class with a silent, independent exercise. Any of the exercises can be used as bell work (though some will take longer than others -- consider combining two or more!)</li>
<li> Whiteboards. Having kids write and hold up their answers on mini whiteboards is the key to tricking them into thinking Latin is fun. By projecting the site onto the board and running through the randomly generated exercises (skipping advanced ones, but maybe keeping the easy ones for review), you can drill your kids in Latin while they have a blast using Expo markers. Amp up the excitement by making teams and keeping score. <a href="http://www.latinahilara.com/white-board-activities-winning/drill-games-around-the-empire" target="_blank" class="contact">In this great post</a>, Latina Hilara combines whiteboard drills with board games.</li>
</ul>

<p>Sharing resources helps other teachers and their students. Add your own exercises to So You Think You Know Latin using the "Add" button on the menu, or share how you use the site by sending an email <a href="mailto:hello@kellylougheed.com?Subject=Latin+Emergency" class="contact">here</a>!

</div>