<br><br>

<h1><%= @activity.exercise %></h1>
<h4><%= @activity.level %></h4>

<br><br><br><br>

<div class="text-center" id="generateAnother"><%= link_to 'Generate another', root_path, class: 'another' %></div>