<h1>Contribute an exercise</h1>

<div class="form">

<%= simple_form_for @activity do |f| %>
  <%= f.input :exercise %>
  <%= f.input :level %> <small>(e.g. Latin I, Latin III, intermediate, etc)</small>
  <br><br>
  <%= f.submit 'Submit', class: 'btn btn-default' %>
<% end %>

</div>